# ==============================
# Python
# ==============================

__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==============================
# Virtual Environment
# ==============================

venv/
.venv/
env/
ENV/

# ==============================
# Environment / Secrets
# ==============================

.env
.env.*
!.env.example

# ==============================
# Streamlit
# ==============================

.streamlit/secrets.toml

# ==============================
# Uploaded Images
# ==============================

uploads/
*.jpg
*.jpeg
*.png

# ==============================
# AI Model Weights
# ==============================

*.pt
*.onnx
*.weights

# ==============================
# YOLO Training Runs
# ==============================

runs/
train/
training/
datasets/

# ==============================
# Logs / Temporary Files
# ==============================

*.log
*.tmp
*.temp

# ==============================
# Jupyter
# ==============================

.ipynb_checkpoints/

# ==============================
# IDE
# ==============================

.vscode/
.idea/

# ==============================
# OS
# ==============================

.DS_Store
Thumbs.db

# ==============================
# Database / Local Data
# ==============================

*.db
*.sqlite
*.sqlite3
roadwatch_training/
dataset/